:root {
  --primary-color: #2fbfeb;
  --lighter-color: #58d6ff;
  --darker-color: #29a3c3;
  --gray-color: #e0e0e0;
  --dark-grey-color: #656567;
  --font-family: "Bon Vivant", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --base-font-size: 16px;

  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

#root {
  width: 100%;
}
