.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}

.menu-info {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-weight: 600;
}

.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
}

.appointment {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.appointment-link {
  font-weight: bold;
}

.appointment-link:hover {
  color: rgb(63, 238, 63);
}

.menu-group{
    display: flex;
    background-color: var(--primary-color);
    justify-content:center;
    align-items: center;
    gap: 4rem;
}

.button-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}